.container{
    padding-top: 2%;
}
.tab-content{
    margin-top: 2%;
}
label{
    display: block;
}
#recognize-front, #recognize-back{
    display:none;
}
.table{
    margin-top: 1%;
}
.arrow-up {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #2fa4e7;
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #2fa4e7;
}
#loading img{
    margin: auto;
    vertical-align: middle;
}
#img-in-box, .modal-content>img{
    margin: auto;
}